<div class="col-md-6">
  <div class="form-group">
    <label>Choose an artist</label>
    {{#ember-autocomplete
          on-select=(action "selectArtist")
          on-input=(action "filterArtists")
          class="autocomplete-container" as |autocomplete isDropdownOpen inputValue onSelect onInput|}}
      <div class="input-group">
        {{ember-autocomplete-input
            autocomplete=autocomplete
            value=inputValue
            on-change=onInput
            type="text"
            class="combobox input-large form-control"
            placeholder="Select an artist"}}
        {{#ember-autocomplete-list autocomplete=autocomplete isVisible=isDropdownOpen class="typeahead typeahead-long dropdown-menu" as |list|}}
          {{#each matchingArtists as |artist|}}
            {{#ember-autocomplete-option
                id=artist.id
                label=artist.name
                item=artist
                list=list
                on-click=onSelect
                activeId=selectedArtist.id}}
              <a href="#">{{artist.name}}</a>
            {{/ember-autocomplete-option}}
          {{else}}
            <li><a href="#">No results.</a></li>
          {{/each}}
        {{/ember-autocomplete-list}}
        {{#ember-autocomplete-dropdown-toggle autocomplete=autocomplete class="input-group-addon dropdown-toggle"}}
          <span class="caret"></span>
          <span class="glyphicon glyphicon-remove"></span>
        {{/ember-autocomplete-dropdown-toggle}}
      </div>
    {{/ember-autocomplete}}
  </div>
</div>
<div class="col-md-6">
  Selected artist: {{selectedArtist.id}} {{selectedArtist.name}}
</div>
